// *
// *  CSR Unifi SPI driver.
// *
// *  (c) CSR Plc 2006
// *
// *  History
// *
// *  13-Sep-2006  Peter Kenyon   Initial coding
// *
// *

#ifdef APSTUDIO_INVOKED
 #error You cannot load this file into the IDE
#endif

#include <windows.h>
#include "Version.h"

#ifndef DRIVER_VERSION
 #error You must provide a DRIVER_VERSION
#endif

#ifndef DRIVER_NAME
 #define DRIVER_NAME L"CSR Generic" 
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DRIVER_VERSION
 PRODUCTVERSION DRIVER_VERSION
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x0L
 FILETYPE 0x3L
 FILESUBTYPE 0x6L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904e4"
        BEGIN
            VALUE "CompanyName", "Cambridge Silicon Radio\0"
            VALUE "FileDescription", "CSR Generic SDIO Driver\0"
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", DRIVER_NAME
            VALUE "LegalCopyright", "Copyright © 2007 CSR Ltd.\0"
            VALUE "OriginalFilename", DRIVER_NAME
            VALUE "ProductName", "UniFi Wireless LAN Card\0"
            VALUE "ProductVersion", VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252
    END
END
